.login-container{
    display: flex;
}

.login-back-image{
    position: absolute;
    right: 0px;     
}
.login-back-image img{
    height: 100vh;
    width: auto;
}
.logo{
    width: 215px;
}
.input-fieldset{
    border-radius: 5px;
    border-width: 1px;
    border-color:#3EA3E7 ;  
    width: 340px;
}   
input{
    
    border-style: none;
    outline: 0;
    width: 100%;
    padding: 5px 0px;
    
}
.input-fieldset legend{
    color: #3EA3E7;
    font-size: 10px;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-regular{
    color: #3EA3E7;
    padding: 0px 10px;
    
}
.sign-in-btn{
    background-color: #3EA3E7;
    color: white;
    width: 340px;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
}

.social-media-fieldset{
    border-width: 2px 0px 0px 0px;
}