.auto-width {
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
}

body {
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

.register {
    max-height: 100vh;
}
.disabled-btn {
    cursor: not-allowed;
    opacity: 0.5;
}